@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
};

.card p {
  display: flex;
  justify-content: center;
  margin: auto;
  color: white;

}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1rem;
  
  font-family: Arial, Helvetica, sans-serif;
}
